<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Sua ajuda chegou!</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">  Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#projects">Projeto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#signup">Contato</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">HiPic</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">O corretor on-line</h2>
      <a href="#about" class="btn btn-primary js-scroll-trigger">Iniciar</a>
    </div>
  </div>
</header>
<!-- About Section -->
<section id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">Como funciona?</h2>
        <p class="text-white-50">
          <a href="http://startbootstrap.com/template-overviews/grayscale/"></a>
          Atualmente é necessário enfrentar alguns desafios, dentre eles:
          
            <br />Fornecer consultoria
            <br />Intermediar negociação
            <br /><b>Avalia</b> e Apresenta imóveis
            <br />Classifica e anexa no banco de dados
        </p>
    
      </div>
    </div>
    <img src="../img/ipad.png" class="img-fluid" alt="">
  </div>
</section>
<!-- Projects Section -->
<section id="projects" class="projects-section bg-light">
  <div class="container">
    <!-- Featured Project Row -->
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7">
        <img class="img-fluid mb-3 mb-lg-0" src="../img/bg-signup.jpg" alt="">
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h4>Propostas</h4>
          <p class="text-black-50 mb-0">Que tal facilitar a avaliação de um imóvel?</p>
          <p>A HiPic quer te ajudar a superar esse desafio, mas como? <br /> Oferecendo uma equipe top que te dará aquela força na avaliação de seus imóveis.</p>
        </div>
      </div>
    </div>
    <!-- Project One Row -->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img class="img-fluid" src="../img/demo-image-01.jpg" alt="">
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">Treinamentos</h4>
              <p class="mb-0 text-white-50">A HiPic juntamente com a França Imobiliária oferece cursos <b>Semi-Presenciais</b> para dar um up na sua equipe que será fera na avaliação e valorização do seu imóvel.Uma visão de alguém de fora do Mercado a favor de seu cliente.</p>
              <hr class="d-none d-lg-block mb-0 ml-0">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Project Two Row -->
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6">
        <img class="img-fluid" src="../img/demo-image-02.jpg" alt="">
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">Sistema de Localização</h4>
              <p class="mb-0 text-white-50">Trabalhe de onde estiver, em seu próprio horário e de acordo com sua prefêrencia de localidade.<br /> Esse sistema te oferece tudo isso!  </p>
              <hr class="d-none d-lg-block mb-0 mr-0">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Signup Section -->
<section id="signup" class="signup-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto text-center">
        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
        <h2 class="text-white mb-5">Comece agora mesmo!</h2>
        <form class="form-inline d-flex">
          <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Deixe seu e-mail...">
          <button type="submit" class="btn btn-primary mx-auto">Confirmar</button>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Contact Section -->
<section class="contact-section bg-black">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Endereço</h4>
            <hr class="my-4">
            <div class="small text-black-50">
              Praça Barão do Rio Branco, 115
              Centro, Jacareí - SP - CEP: 12327-350
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-envelope text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Site</h4>
            <hr class="my-4">
            <div class="small text-black-50">
              <a href="#">https://francaimobiliaria.com.br</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-mobile-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">telefone</h4>
            <hr class="my-4">
            <div class="small text-black-50">(12) 3954-0060</div>
          </div>
        </div>
      </div>
    </div>
    <div class="social d-flex justify-content-center">
      s
      <a href="https://www.facebook.com/ImobiliariaFranca" class="mx-2">
        <i class="fab fa-facebook-f"></i>
      </a>
      
    </div>
  </div>
</section>
<!-- Footer -->


